<div class="container">
    <h1 class="logo logo-big">bingio</h1>
    <div id="splash-form">
        <p>Bingo + <img src="/static/img/rdio.png" alt="rdio logo"/></p>
        <form method="POST" action="/authentication" role="form" class="text-center">
            <input class="btn btn-default btn-lg" type="submit" value="Login to Rdio"/>
        </form>
    </div>
</div>

<!-- Fork me banner -->

<a id="forkme" href="https://github.com/jlas/bingio">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
        alt="Fork me on GitHub">
</a>
