<h1 class="logo logo-big">bingio</h1>
<div ng-controller="SplashCtrl">
  <div id="splash-form">
    <p>Bingo + <img src="/static/img/rdio.png" alt="rdio logo"/></p>
    <p ng-include="'partials/authentication.html'"></p>
  </div>
</div>

<!-- Fork me banner -->

<a id="forkme" href="https://github.com/jlas/bingio">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
       alt="Fork me on GitHub">
</a>
