body { background-image: url(/static/img/brushed.png); }

button { border-color: $teal; }

/* Default Icon color */
.fa { color: $teal; }
.fa.text-danger { color: $brand-danger; }

/* Default Icon color */
#no-games-msg { color: $darkteal; }

td:hover { outline: 1px solid $teal; }

a:hover { text-decoration: none !important; }

/* Chat entry for me */
a.chat-entry-me { color: red; }
a.chat-entry-me:hover { color: darkred; }
a.chat-entry-me:visited { color: red; }

/* Chat entry for others */
a.chat-entry-other { color: blue; }
a.chat-entry-other:hover { color: darkblue; }
a.chat-entry-other:visited { color: blue; }

.logo { color: $darkteal; }

.track-artist { color: $purple; }

.guessed { background-color: lightgrey; }
