body {
	background-image: url(/static/img/brushed.png);
}

button {
	border-color: $teal;
}

td:hover {
	outline: 1px solid $teal;
}

a:hover {
	text-decoration: none !important;
}

a.chat-entry-me {
	color: red;
}
a.chat-entry-me:hover {
	color: darkred;
}
a.chat-entry-me:visited {
	color: red;
}

a.chat-entry-other {
	color: blue;
}
a.chat-entry-other:hover {
	color: darkblue;
}
a.chat-entry-other:visited {
	color: blue;
}

.logo {
    color: $darkteal;
}

.track-artist {
	color: $purple;
}

.fa {
	color: $teal;
}
