img[alt="icon"] {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

td {
	cursor: pointer;
	width: 20%;
}

#users {
	list-style-type: none;
	margin: 0;
	display: inline-flex;
	justify-content: center;
	width: 100%;
	padding: 0;
}

#users > li {
	text-align: center;
	float: left;
	margin: 0 20px 0 20px;
}

#splash-form > p:first-child { margin-top: 40px; }
#splash-form p { text-align: center; }
#splash-form input { margin-top: 20px; }
#splash-form img {
	position: relative;
	top: -3px;
}

.logo {
	text-align: center;
}

/* Games Sidebar */
#sidebar-games {
	height: 480px;
	overflow: auto;
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 10px;
}

#no-games-msg { margin-top: 1em; }

/* Chat */
#chat-log {
	height: 480px;
	overflow: auto;
	margin: 10px 0 0 0;
}

#chat-btn > .fa-comment {
	position: relative;
	top: -1px;
}

/* Loading Screen */
#loading {
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 2em;
}

/* [X] symbols for wrong guesses */
$x-symbol-align: -95px;
.fa-stack > .fa-times { top: $x-symbol-align - 2px; }
.fa-stack > .fa-square-o { top: $x-symbol-align; }
.fa-stack > .fa-times.text-default, .fa-stack > .fa-square-o.text-default {
	color: black;
	opacity: .3;
}

/* checkmark symbol for guessed squares */
.guessed > .fa-check { float: right }