.logo {
	font-family: 'Baumans', cursive;
	font-weight: bold;
}
.logo-big {
	font-size: 10em;
	line-height: 150px;
	text-shadow: $teal 4px 4px 4px;
}
.logo-small {
	font-size: 4em;
	line-height: 80px;
	text-shadow: $teal 2px 2px 2px;
}

#powered-by { font-size: .5em; }

#splash-form { font-size: 2em; }
#splash-form input { font-size: 1em; }

#no-games-msg { font-size: 2em; }

.track-artist { font-size: .8em; }

#loading { font-size: 3em; }

#winner-text {font-size: 2em; }